.nav-sidebar
  .sidebar-header Across GitLab
  %ul.nav
    = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: {class: "#{project_tab_class} home"}) do
      = link_to dashboard_projects_path, title: '项目', class: 'dashboard-shortcuts-projects' do
        %span
          项目
    = nav_link(path: 'dashboard#activity') do
      = link_to activity_dashboard_path, class: 'dashboard-shortcuts-activity', title: '活动' do
        %span
          活动
    - if koding_enabled?
      = nav_link(controller: :koding) do
        = link_to koding_path, title: 'Koding' do
          %span
            Koding
    = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
      = link_to dashboard_groups_path, title: '群组' do
        %span
          群组
    = nav_link(controller: 'dashboard/milestones') do
      = link_to dashboard_milestones_path, title: '里程碑' do
        %span
          里程碑
    = nav_link(path: 'dashboard#issues') do
      = link_to assigned_issues_dashboard_path, title: '问题', class: 'dashboard-shortcuts-issues' do
        %span
          问题
          %span.count= number_with_delimiter(cached_assigned_issuables_count(current_user, :issues, :opened))
    = nav_link(path: 'dashboard#merge_requests') do
      = link_to assigned_mrs_dashboard_path, title: '合并请求', class: 'dashboard-shortcuts-merge_requests' do
        %span
          合并请求
          %span.count= number_with_delimiter(cached_assigned_issuables_count(current_user, :merge_requests, :opened))
    = nav_link(controller: 'dashboard/snippets') do
      = link_to dashboard_snippets_path, title: '代码片段' do
        %span
          代码片段
