- if @pipeline
  .mr-widget-heading
    - %w[success success_with_warnings skipped canceled failed running pending].each do |status|
      .ci_widget{ class: "ci-#{status} ci-status-icon-#{status}", style: ("display:none" unless @pipeline.status == status) }
        = ci_icon_for_status(status)
        %span
          流水线
          = link_to "##{@pipeline.id}", namespace_project_pipeline_path(@pipeline.project.namespace, @pipeline.project, @pipeline.id), class: 'pipeline'
          = ci_label_for_status(status)
        for
        - commit = @merge_request.diff_head_commit
        = succeed "." do
          = link_to @pipeline.short_sha, namespace_project_commit_path(@merge_request.source_project.namespace, @merge_request.source_project, @pipeline.sha), class: "monospace"
        %span.ci-coverage
        = link_to "查看明细", pipelines_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: "js-show-tab", data: {action: 'pipelines'}

- elsif @merge_request.has_ci?
  - # Compatibility with old CI integrations (ex jenkins) when you request status from CI server via AJAX
  - # Remove in later versions when services like Jenkins will set CI status via Commit status API
  .mr-widget-heading
    - %w[success skipped canceled failed running pending].each do |status|
      .ci_widget{class: "ci-#{status}", style: "display:none"}
        = ci_icon_for_status(status)
        %span
          CI 构建
          = ci_label_for_status(status)
        for
        - commit = @merge_request.diff_head_commit
        = succeed "." do
          = link_to commit.short_id, namespace_project_commit_path(@merge_request.source_project.namespace, @merge_request.source_project, commit), class: "monospace"
        %span.ci-coverage

    .ci_widget
      = icon("spinner spin")
      正在检查 #{@merge_request.diff_head_commit.short_id} 的构建状态&hellip;

    .ci_widget.ci-not_found{style: "display:none"}
      = icon("times-circle")
      找不到 #{@merge_request.diff_head_commit.short_id} 的构建状态。

    .ci_widget.ci-error{style: "display:none"}
      = icon("times-circle")
      无法连接到 CI 服务器。请检查相关设置并重试。

.js-success-icon.hidden
  = ci_icon_for_status('success')
