- case type.to_s
- when 'revert'
  - label = '撤销'
  - target_label = '选择要撤销提交的分支'
- when 'cherry-pick'
  - label = '挑选(Cherry-Pick)'
  - target_label = '挑选(Cherry-Pick)到分支'

.modal{id: "modal-#{type}-commit"}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title== #{label} 此 #{commit.change_type_title(current_user)}
      .modal-body
        = form_tag send("#{type.underscore}_namespace_project_commit_path", @project.namespace, @project, commit.id), method: :post, remote: false, class: 'form-horizontal js-#{type}-form js-requires-input' do
          .form-group.branch
            = label_tag 'target_branch', target_label, class: 'control-label'
            .col-sm-10
              = hidden_field_tag :target_branch, @project.default_branch, id: 'target_branch'
              = dropdown_tag(@project.default_branch, options: { title: "切换分支", filter: true, placeholder: "搜索分支", toggle_class: 'js-project-refs-dropdown js-target-branch dynamic', dropdown_class: 'dropdown-menu-selectable', data: { field_name: "target_branch", selected: @project.default_branch, target_branch: @project.default_branch, refs_url: namespace_project_branches_path(@project.namespace, @project), submit_form_on_click: false }})

              - if can?(current_user, :push_code, @project)
                .js-create-merge-request-container
                  .checkbox
                    - nonce = SecureRandom.hex
                    = label_tag "create_merge_request-#{nonce}" do
                      = check_box_tag 'create_merge_request', 1, true, class: 'js-create-merge-request', id: "create_merge_request-#{nonce}"
                      使用这些变更创建一个<strong>新的合并请求</strong>
              - else
                = hidden_field_tag 'create_merge_request', 1
          .form-actions
            = submit_tag label, class: 'btn btn-create'
            = link_to "取消", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

            - unless can?(current_user, :push_code, @project)
              .inline.prepend-left-10
                = commit_in_fork_help

:javascript
  new NewCommitForm($('.js-#{type}-form'))
