.page-content-header
  .header-main-content
    = ci_status_with_icon(@pipeline.status)
    %strong 流水线 ##{@commit.pipelines.last.id}
    在 #{time_ago_with_tooltip(@commit.authored_date)} 被
    = author_avatar(@commit, size: 24)
    = commit_author_link(@commit)
    触发
  .header-action-buttons
    - if can?(current_user, :update_pipeline, @pipeline.project)
      - if @pipeline.builds.latest.failed.any?(&:retryable?)
        = link_to "失败重试", retry_namespace_project_pipeline_path(@pipeline.project.namespace, @pipeline.project, @pipeline.id), class: 'btn btn-inverted-secondary', method: :post
      - if @pipeline.builds.running_or_pending.any?
        = link_to "取消运行", cancel_namespace_project_pipeline_path(@pipeline.project.namespace, @pipeline.project, @pipeline.id), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :post

- if @commit
  .commit-box
    %h3.commit-title
      = markdown(@commit.title, pipeline: :single_line)
    - if @commit.description.present?
      %pre.commit-description
        = preserve(markdown(@commit.description, pipeline: :single_line))

.info-well
  - if @commit.status
    .well-segment.pipeline-info
      %div{class: "icon-container ci-status-icon-#{@commit.status}"}
        = ci_icon_for_status(@commit.status)
      = pluralize @pipeline.statuses.count(:id), "个构建", "个构建"
      - if @pipeline.ref
        来自
        = link_to @pipeline.ref, namespace_project_commits_path(@project.namespace, @project, @pipeline.ref), class: "monospace"
      - if @pipeline.duration
        耗时
        = time_interval_in_words(@pipeline.duration)
      - if @pipeline.queued_duration
        = "(排队 #{time_interval_in_words(@pipeline.queued_duration)})"

  .well-segment.branch-info
    .icon-container.commit-icon
      = custom_icon("icon_commit")
    = link_to @commit.short_id, namespace_project_commit_path(@project.namespace, @project, @pipeline.sha), class: "monospace js-details-short"
    = link_to("#", class: "js-details-expand hidden-xs hidden-sm") do
      %span.text-expander
        \...
    %span.js-details-content.hide
      = link_to @pipeline.sha, namespace_project_commit_path(@project.namespace, @project, @pipeline.sha), class: "monospace commit-hash-full"
    = clipboard_button(clipboard_text: @pipeline.sha, title: "将提交 SHA 复制到剪贴板")
