- @no_container = true
- page_title "流水线"
= render "projects/pipelines/head"

%div.js-pipeline-container{ class: container_class, data: { controller_action: "#{controller.action_name}" } }
  - if @commit
    = render "projects/pipelines/info"

  = render "projects/pipelines/with_tabs", pipeline: @pipeline
